html{
background-color:#020100;
font-family: "Open Sans",sans-serif;}
h1{
  font-size:60px;
  text-align:center;
  margin: 0;
  padding:20px;
} text-shadow: 3px 3px 1px black;

p{
  color:#D87093;
  width: 500;
  font-size: 16px
  letter-spacing:1px; }

img{
  display: block;
  margin: 0 auto; }
body{
  width: 600px;
  margin: 0 auto;
  background-color:#cb4335; 
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
